{% extends "base.html" %}

{% block navigation %}
{% include "eservice/navigate.html" %}
{% endblock %}

{% block content %}
<div>
    <h1>Add Enclave Service</h1>
    {% for field in form.errors %}
      {% for error in form.errors[field] %}
      <div class="alert alert-error">
        <strong>An Error Occurred:</strong> {{error}}
      </div>
      {% endfor %}
    {% endfor %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.eservice_url.label }}<br>
          {{ form.eservice_url(size=32) }}
        </p>
        <p>
          {{ form.eservice_name.label }}<br>
          {{ form.eservice_name(size=32) }}
        </p>
        <p>
          {{ form.submit() }}
        </p>
    </form>
</div>
<div style='height:100%'></div>
{% endblock %}
