{% extends "base.html" %}

{% block navigation %}
{% include "eservice/eservice.html" %}
{% endblock %}

{% block content %}
<div>
    <h1>Pick Enclave Service</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          <table>
            {% for eservice in form.eservice_list %}
            <tr>
              <td> {{ eservice }} </td>
              <td> {{ eservice.label }} </td>
            </tr>
            {% endfor %}
          </table>
        </p>
        <p>
          {{ form.submit() }}
        </p>
    </form>
</div>
<div style='height:100%'></div>
{% endblock %}
