{% extends "base.html" %}

{% block navigation %}
{% include "eservice/navigate.html" %}
{% endblock %}

{% block content %}
<div>
    {% if eservice.name %}
    <h1>Enclave Service {{ eservice.name }}</h1>
    {% else %}
    <h1>Enclave Service Information</h1>
    {% endif %}

    <table>
      <tr>
        <td valign="top" width="25%"><b>Enclave Service ID</b></td>
        <td> {{ eservice.eservice_id }} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Enclave Service URL</b></td>
        <td> {{ eservice.enclave_service_url }} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Storage Service URL</b></td>
        <td> {{ eservice.storage_service_url }} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Enclave Identity</b></td>
        <td> {% autoescape false %} {{ eservice.enclave_id | replace('\n', '<br>') }} {% endautoescape %} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Enclave Owner</b></td>
        <td> {{ eservice.enclave_owner_id }} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Registration Block</b></td>
        <td> {{ eservice.registration_block_id }} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Registration Transaction</b></td>
        <td> {% autoescape false %} {{ eservice.printable_txn_id | replace('\n', '<br>') }} {% endautoescape %} </td>
      </tr>
      <tr>
        <td valign="top" width="25%"><b>Proof Data</b></td>
        <td> {{ eservice.proof_data }} </td>
      </tr>
    </table>
</div>
<div style='height:100%'></div>
{% endblock %}
