{% extends "base.html" %}

{% block navigation %}
{% include "contract_code/navigate.html" %}
{% endblock %}

{% block content %}
<div>
    <h1>Pick Contract Code</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          <table>
            {% for code in form.contract_code_list %}
            <tr>
              <td> {{ code }} </td>
              <td> {{ code.label }} </td>
            </tr>
            {% endfor %}
          </table>
        </p>
        <p>
          {{ form.submit() }}
        </p>
    </form>
</div>

<div style='height:100%'></div>
{% endblock %}
