{% extends "base.html" %}

{% block navigation %}
{% include "contract/navigate.html" %}
{% endblock %}

{% block content %}
<div>
  {% if error %}
  <h1>Invocation Failed</h1>
  <div> {{error}} </div>
  {% endif %}

  {% if result %}
  <h1>Invocation Succeeded</h1>
  <div> {{ str(result) }} </div>
  {% endif %}

  <h1>Invocation</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h2> {{ form.expression.label }} </h2>
        <p>
          {{ form.expression }}
        </p>
        <p>
          {{ form.submit() }}
        </p>
    </form>
</div>

<br>

<div style='height:100%'></div>

{% endblock %}
